.Parent {
    width: 90%;
    margin: 10px auto;
    display: flex;
}

.MainListContainer{
    height: 590px;
    width : 152px;
    display: flex;
    flex-direction: column;
    background: #f5f5dc;
    margin-left: 350px;
    margin-top : 150px;
    float: left;
    border : solid;
}

.MainListBox{
    border-bottom	: solid;
    height : 50px;
    width : 150px;
    display : flex;
}

.MainListName{
    width : 150px;
    height : 50px;
    margin: 10px 20px;
    text-align:center;
}

.SubListContainer{
    height: 590px;
    width : 250px;
    background: #f5f5dc;
    margin-left: 100px;
    margin-top : 150px;
    float: left;
    border-style: solid;
}

.SubListBox{
    border-bottom	: solid;
    height : 65px;
    width : 250px;
    display : flex;
}

.SubListName{
    width : 70px;
    height : 50px;
    margin-left: 20px;
}

.SubListContent{
    flex-direction: column;
    font-size:14px;
}

.SubListDate{
    flex-direction: column;
    font-size:10px;
}

.DetailContainer{
    height: 590px;
    width : 350px;
    background: #f5f5dc;
    margin-left: 100px;
    margin-top : 150px;
    float: right;
    border-style: solid;
}

.DetailTitleBox{
    height : 65px;
    width : 350px;
    display : flex;
    margin-left:20px;
    margin-top:20px;
}
